<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Puzzle Game</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="intro-container">
        <h1>{{ intro }}</h1>
        <b>Hello My Little! The time has come! Your Big (aka me) is trapped in a placed full of trap and danger.</b>
        <b>The kidnapper is a genius hacker who just wanna have fun testing out your debugging skill.</b>
        <b>I got trapped here when I was trying to solve his puzzle and obviously lost to him.</b>
        <b>However, I’m lucky enough to be able to send you this message. He is out for dinner right now, but he will be back in 2 hours.</b>
        <b>You must hurry up and solve these puzzles to find my location otherwise you won’t ever see me again (sad and depressed and crying emoji).</b>
        <b>Don’t worry you won’t be alone. I’m have injected some hints into the puzzles for you. Good luck to both of us my little.</b>
        <h2>Let's your journey begin.</h2>
        <a href="/puzzle/1">Start the Puzzle!</a>
    </div>
</body>
</html>
